<!DOCTYPE html>
<html>
<head>
  <title>PostsApp</title>
  <link rel="stylesheet"   href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<script src="/assets/jquery.js"></script> 
<script src="/assets/jquery_ujs.js"></script>

</head>
<body>
<%= render 'layouts/header' %>
<div class = "container">
<%if notice%>
<div class="alert alert-info"><%= notice %></div>
<%end%>
<%if alert%>
<div class="alert alert-warning"><%= alert %></div>
<%end%>
<%= yield %>
</div>

</body>
</html>
